<div fxLayout="column" fxLayoutGap="20px">
    <h1>Support Us</h1>
    <img [src]="'assets/img/thank_you.png'" style="object-fit: cover; object-position: bottom; max-height: 300px">
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div> <!-- fxFlex="60" -->
            <p>
                The Greenbelt Concert Band receives financial and logistical support from the City of Greenbelt, 
                and is administered by the Department of Recreation, 301-397-2200.
            </p>
            <p>The Greenbelt Concert Band is also a certified 501(c)3 charity that welcomes fiscal contributions 
                so that we can continue to provide the best in music to our audiences.
            </p>
            <p><b>Please send your tax exempt contributions to:</b> <br/>
                The Greenbelt Concert Band <br/>
                3818 Paul Mill Rd.<br/>
                Ellicott City, MD 21042
            </p>
        </div>
    </div>
    <img [src]="'assets/img/support_the_band.png'" width="100%">
</div>