<div fxLayout="column" fxLayoutGap="20px">
    <h1>History</h1>
    <mat-card class="transparent-card">
        <img mat-card-image src="assets/img/fourth_of_july.jpg"
        alt="Photo of the Greenbelt Concert Band" [class]="'image-fit'">
        <mat-card-subtitle class="mat-caption" fxLayoutAlign="center">
            The Greenbelt Concert Band playing at the 200X? Fourth of July
        </mat-card-subtitle>
    </mat-card>

    <p>
        Three years after the founding of the City of Greenbelt in 1937, a committee was appointed to organize a community band. The committee included representatives of Center School, the City Manager, and the PHA (Public Housing Authority). Musical instruments were obtained from the US Military.
    </p>
    <p>
        <b>1940</b>
        The Greenbelt Community Band was formed. It included both adults and young people. Paul Garrett (DC public school teacher) became the first band director. The first “concerts” were presented in local churches.
    </p>
    <p>
        <b>1942 (February)</b><br/> 
        The band marched in its first parade - A Defense Rally with Mrs. Eleanor Roosevelt as Guest of Honor. (See a letter from Mrs. Roosevelt to Paul Garrett in “Historic Photos” below.) Emerson Meyers became the second director. He formed a “feeder band” where youths learned to play their instruments before they could join the Community Band.
    </p>
    <p>   
        <b>1943</b><br/>
        Dana Garrett became the third director of the Greenbelt Community Band and the Feeder Band.
    </p>
    <p>   
        <b>1948(?)</b><br/>
         Greenbelt Fire Department Majorettes joined the Greenbelt Community Band.
    </p>
    <p>  
        <b>1950</b><br/>
        Won First Prize in the Lion’s Club Competition (DC Area) and won a trip to Chicago.
    </p>
    <p>
        <b>1952</b><br/>
        Michael Ronca (Northwestern High School band director) became the fourth director.
    </p>
    <p>
        <b>1954(?)</b><br/> 
        Donald Smith became the fifth director.
    </p>
    <p>
        In the later 1950’s and early 1960’s, PG County public school bands began to draw away most of the young musicians from the Greenbelt Community Band. During this period the Greenbelt American Legion provided some of the band’s support and it became an “adult band”.
    </p>
    <p>
        <b>1960(?)</b><br/>
        Howard Carle (trombonist) became the sixth director.
    </p>
    <p>
        <b>1966</b><br/>
        John DelHomme (retired US Army Band) became the seventh director. The City of Greenbelt Department of Recreation assumed major support of the band and it was renamed the “Greenbelt Concert Band”.
    </p>
    <p>
        <b>1994</b><br/>
        Tom Cherrix became the eighth director.
    </p>
    <p>
        <b>1999</b><br/>
        Brass Ensemble was formed.
    </p>
    <p>
        <b>2002</b><br/>
        Wind Ensemble was formed.
    </p>
    <p>
        <b>2016</b><br/>
        Joan Rackey became the ninth director.
    </p>

    <mat-divider></mat-divider>

    <p class="m-0">
        The above historical outline was assembled using information received from:
    </p>
    <ul>
        <li>Golden Anniversary Brochure, 1937 to 1987, City of Greenbelt.</li>
        <li>Conversations with Kathleen McFarland, Founding resident of Greenbelt.</li>
        <li>Personal recollections of Tom Cherrix, current director of The Greenbelt Concert Band</li>
    </ul>

    <!-- TODO -->
    <!--
        Historic Photos
        Greenbelt News Review - Oct 13, 2016
        George Carroll Memorial
        Sean Davis Memorial
    -->
</div>