<div fxLayout="column" fxLayoutGap="20px">
    <h1>Contact Us</h1>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div> <!-- fxFlex="60" -->
            <p>
                Questions concerning the band and sub groups, their performances, or these pages in general can be sent to one of the following addresses:
            </p>
            <p><b>Bookings:</b>
                Bookings are handled primarily by the group Managers. Inquiries about performances should be sent to 
                <a href="mailto: gcb-manager@greenbeltconcertband.org" target="self">gcb-manager@greenbeltconcertband.org</a> (Concert Band) or 
                <a href="mailto: gwe-manager@greenbeltconcertband.org" target="self">gwe-manager@greenbeltconcertband.org</a> (Wind Ensemble).
            </p>
            <p><b>Membership Information:</b>
                For answers to questions about membership in the Band, contact the Director at 
                <a href="mailto:director@greenbeltconcertband.org" target="external">director@greenbeltconcertband.org</a>.
            </p>
            <p><b>Web Site:</b>
                Questions, comments, and problems with these pages can be directed to 
                <a href="mailto:webmaster@greenbeltconcertband.org" target="external">webmaster@greenbeltconcertband.org</a>.
            </p>
            <mat-divider></mat-divider>
            <ul class="text-center no-bullets">
                <li>Director: Joan Rackey</li>
                <li>Concert Band Manager: Eli Zime</li>
                <li>Wind Ensemble Manager: Eli Zimet</li>
                <li>Treasurer: Paul Quillen</li>
                <li>Personnel Manager: Caroline Cherrix</li>
                <li>Property Manager: Kathy Bartolomeo</li>
                <li>Publicity Manager: Chris Porter</li>
                <li>Librarian: Alice Kreisle</li>
            </ul>
            <br/>
            <p class="text-center">
                Greenbelt Concert Band <br/>
                Greenbelt, MD 20770
            </p>
        </div>
        <!-- <div fxFlex>
            <img [src]="'assets/img/bca3d2f8-766b-48a5-a87b-a787d63a83cf.png'" width="100%">
        </div> -->
    </div>
</div>