<div fxLayout="column" fxLayoutGap="20px">
    <h1>Conductors</h1>

    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxFlex="60">
            <p>
                Joan Rackey is a native Marylander, and was formerly the director of bands at Albert Einstein High School
                (Kensington) and its popular Jazz Ensemble. Joan is a graduate of Frostburg State, with a graduate degree in music from
                Towson State.
            </p>
        </div>
        <div fxFlex>
            <mat-card class="transparent-card">
                <img mat-card-image [src]="'assets/img/conductor1.png'" 
                alt="Photo of Joan Rackey" width="100%">
                <mat-card-subtitle class="mat-caption" fxLayoutAlign="center">
                    Joan Rackey
                </mat-card-subtitle>
            </mat-card></div>
    </div>

    <mat-divider></mat-divider>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Conductor Emeritus
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card class="transparent-card">
            <img mat-card-image [src]="'assets/img/conductor2.png'" alt="Photo of G. Thomas Cherrix"
                class="image-fit">
            <mat-card-subtitle class="mat-caption" fxLayoutAlign="center">
                G. Thomas Cherrix
            </mat-card-subtitle>
        </mat-card>
        <p>Mr. Thomas Cherrix is a graduate of the University of Maryland, College Park. 
            An accomplished woodwind performer, he studied under the late Eugene Dimond. 
            He has conducted and performed with numerous musical ensembles in and around the Washington, DC area since the 1960s, 
            and has composed and arranged music for orchestras, bands, and small ensembles. 
            Mr. Cherrix was the General Manager of the Greenbelt Concert Band for more than two decades and, 
            since the early 1980s, was the band's Associate Conductor under Maestro John DelHomme, 
            the conductor of the Greenbelt Concert Band from 1968 through the middle of 1994. 
            Mr. Cherrix conducted the band from 1994 until his resignation in October of 2016. 
            Mr Cherrix is a member in good standing of the Association of Concert Bands Inc.</p>
        </mat-expansion-panel>
</div>