
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "sass:map";
// Plus imports for other components in your app.


$greenbelt-palette: (
    50 : #f2f8ef,
    100 : #dfedd8,
    200 : #c9e2be,
    300 : #b3d6a4,
    400 : #a3cd91,
    500 : #93c47d,
    600 : #8bbe75,
    700 : #80b66a,
    800 : #76af60,
    900 : #64a24d,
    A100 : #ffffff,
    A200 : #daffcd,
    A400 : #b4ff9a,
    A700 : #a1ff80,
    contrast: (
        50 : #ffffff,
        100 : #daffcd,
        400 : #b4ff9a,
        700 : #a1ff80,
    )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$greenbelt-community-band-primary: mat.define-palette($greenbelt-palette); //mat.$light-green-palette);
$greenbelt-community-band-accent: mat.define-palette($greenbelt-palette, 50);

// The warn palette is optional (defaults to red).
$greenbelt-community-band-warn: mat.define-palette(mat.$red-palette);


// Adding custom typography
$list-small: mat.define-typography-level(
  $font-weight: 300,
  $font-size: 16px,
  $line-height: 25px,
  $letter-spacing: normal,
);

$toolbar-title: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 36px,
  $line-height: 34px,
  $letter-spacing: 0.1em,
);

// font-size, line-height, and font-weight
$custom-typography: map.merge(
    mat.define-typography-config(
        $font-family: 'Roboto, "Helvetica Neue", sans-serif',
        $body-1: mat.define-typography-level(17px, 28px, 300, $letter-spacing: .05em), /* p */ 
        $body-2: mat.define-typography-level(17px, 28px, 500), /* p */ 
        $headline: mat.define-typography-level(34px, 40px, 400, $letter-spacing: .05em), /* h1 */
        $subheading-2: mat.define-typography-level(18px, 19px, 400, $letter-spacing: .05em), /* h3 */
        $display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
        $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
        $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
        $display-1: mat.define-typography-level(34px, 40px, 400),
        $button: mat.define-typography-level(14px, 14px, 500),
    ),
    (
        "list-small": $list-small,
        "toolbar-title": $toolbar-title,
    )
);

// $display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
// $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
// $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
// $display-1: mat.define-typography-level(34px, 40px, 400),
// $headline: mat.define-typography-level(20px, 27px, 500),
// $title: mat.define-typography-level(20px, 27px, 400),
// $subheading-1: mat.define-typography-level(15px, 17px, 400),
// $subheading-2: mat.define-typography-level(16px, 21px, 500),
// $body-2: mat.define-typography-level(16px, 25px, 500),
// $caption: mat.define-typography-level(14px, 21px, 400),
// $button: mat.define-typography-level(14px, 21px, 500),
// $input: mat.define-typography-level(inherit, 1.125, 400),

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$greenbelt-community-band-theme: mat.define-light-theme((
  color: (
    primary: $greenbelt-community-band-primary,
    accent: $greenbelt-community-band-accent,
    warn: $greenbelt-community-band-warn,
  ),
  typography: $custom-typography
));

@include mat.all-component-typographies($custom-typography);
@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);
  
  .list-small {
      @include mat.typography-level($typography-config, 'list-small');
  }
  #toolbar-title {
    @include mat.typography-level($typography-config, 'toolbar-title');
}
}
@include typography($greenbelt-community-band-theme);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($greenbelt-community-band-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%;}
body { margin: 0; }

.warn-color {
  color: mat.get-color-from-palette($greenbelt-community-band-warn);
}

.accent-color {
  color: mat.get-color-from-palette($greenbelt-community-band-accent);
}

.primary-color {
  color: mat.get-color-from-palette($greenbelt-community-band-primary);
}

.primary-bg-color {
  background-color: mat.get-color-from-palette($greenbelt-community-band-primary);
}

.padding {
  padding: 5px;
}

.container {
  margin: 30px 0px;
  padding: 15px;
}

.text-center {
  text-align: center;
}

.margin {
  margin: 5px
}

.image-fit {
  max-height: 400px;
  object-fit: contain;
}

.transparent-card {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.mat-button {
  // letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mat-toolbar-row {
  height: 40px;
  margin: 20px 0;
}

.mat-toolbar-second-row {
  height: 20px;
  margin: 0 0 15px 0;
}

.mat-divider {
  margin: 20px 0 !important;
}

.m-0 {
  margin: 0 !important;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

@media(max-width: 600px)
{
  #toolbar-title{
    font-size:18px;
  }
}

// .mat-list-item {
//   height: auto !important;
// }

// .mat-list-item-content {
//   padding: 0 !important;
// }

// .mat-list-no-indent .mat-list-item-content {
//   padding-left: 0 !important;
// }