<div fxLayout="column" fxLayoutGap="20px">
  <mat-card class="transparent-card">
    <!-- TODO: Fix this link -->
    <img mat-card-image src="assets/img/fourth_of_july.jpg"
      alt="Photo of the Greenbelt Concert Band" [class]="'image-fit'">
    <mat-card-subtitle class="mat-caption" fxLayoutAlign="center">
      The Greenbelt Concert Band playing at the 200X? Fourth of July
    </mat-card-subtitle>
  </mat-card>
  <div>
    <p>
      The Greenbelt Concert Band is a volunteer adult musical organization dedicated to providing
      quality musical performances for the citizens of the City of Greenbelt, Prince George's County, and
      surrounding areas.
      The band performs for civic and charitable activities, including concerts for veteran's groups, retirement
      communities, nursing homes, and hospitals.
      It is compaosed of musicians from local communities and is open to all those with appropriate playing
      experience. The Band rehearses each Monday evening.
    </p>

    <p>
      Regularly scheduled concerts include the Pre-fireworks performance each July 4th at Buddy Attick Park,
      the Holiday Lights Festival performances each December, and the Greenbelt Day performance within the City of
      Greenbelt.
      Most concerts are open to the general public and all are free of charge.
    </p>

    <p>
      Within three years of its founding in 1937, the City of Greenbelt began sponsoring “a band”.
      It is with great pride that the Greenbelt Concert Band traces its roots back through over seventy years of
      continuous service to the City of Greenbelt.
      Please go to our History page for additional details.
    </p>

    <p class="warn-color">
      The Greenbelt Concert Band is in need of percussionists for the upcoming season. If interested please
      contact the director, <a href="mailto:director@greenbeltconcertband.org">Joan Rackey</a>.
    </p>
  </div>
</div>